.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover{
  color:gray;
}
.NavigationItem a:active,
.NavigationItem a.active {
  color: black;
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    width: auto;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .NavigationItem a {
    color: black;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover{
    color:gray;
  }
  .NavigationItem a:active,
  .NavigationItem a.active {
    border-bottom: 2px solid white;
    color: black;
  }
}
