.SideDrawer {
  position: fixed;
  line-height: 1px;
  width: 200px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: wheat;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
@media (min-width: 600px) {
  .SideDrawer {
    display: none;
  }
}
